<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header-footer.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>

<body>
    <the-header class="header">
        <button class="menu-btn">
            <span class="book-icon"></span>
        </button>  

        <ul class="header-nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/reviews" class="nav-link">Book Reviews</a></li>
            <li class="nav-item"><a href="/suggestions" class="nav-link">Book Suggestions</a></li>
            <li class="nav-item"><a href="/notes" class="nav-link">Book Notes</a></li>  
            <li class="nav-item"><a href="/portfolio" class="nav-link">My Portfolio</a></li>                 
        </ul>
    </the-header>

    <mobile-menu class="mobile-tablet-menu hide-display">
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/reviews" class="nav-link">Book Reviews</a></li>
            <li class="nav-item"><a href="/suggestions" class="nav-link">Book Suggestions</a></li>
            <li class="nav-item"><a href="/notes" class="nav-link">Your Books</a></li>  
            <li class="nav-item"><a href="/portfolio" class="nav-link">My Portfolio</a></li>                
        </ul>  
    </mobile-menu>