<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/header-footer.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
</head>

<body>
    <the-header class="header">
        <div id="book-club-logo">
            <img class="logo" src="assets/images/book_club.png" alt="Open book with a feather in front. Site logo"/>
        </div> 
        <button class="menu-btn">
            <span class="book-icon"></span>
        </button>  
        <ul class="header-nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/reviews" class="nav-link">Book Reviews</a></li>
            <li class="nav-item"><a href="/database" class="nav-link">Book Database</a></li>
            <li class="nav-item"><a href="/notes" class="nav-link">Your Books</a></li>  
            <li class="nav-item"><a href="/portfolio" class="nav-link">My Portfolio</a></li>                 
        </ul>
    </the-header>
<div class="page-flex-container">
    <mobile-menu class="mobile-tablet-menu hide-display">
        <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/reviews" class="nav-link">Book Reviews</a></li>
            <li class="nav-item"><a href="/database" class="nav-link">Book Database</a></li>
            <li class="nav-item"><a href="/notes" class="nav-link">Your Books</a></li>  
            <li class="nav-item"><a href="/portfolio" class="nav-link">My Portfolio</a></li>                
        </ul>  
    </mobile-menu>