<%-include("./include/header.ejs")%>


<page-not-found class="page">
<!--Create basic account authentication or an area to log in if they have already. Have people be able 
to create a user table and a "One to many relationship" where people will have multiple posts pertaining to their 
respective logs-->
<div>
    <img id="page-not-found-image" src="/assets/images/404.jpg" alt="Page Not Found"/>
</div>
</page-not-found>


<%-include("./include/footer.ejs")%>