<%-include("./partials/header.ejs")%>

<home class="page">
    <div class="title">
        <h1>JB's Worldwide Book Club</h1>
    </div>
    <div class="home-imgs">
         <img class="img" src="/assets/images/library.jpg" alt="a book shelf with a ladder to reach the top"/>
         <img class="img" src="/assets/images/window_books.jpg" alt="pile of books next to a window"/>
    </div>

</home>

<%-include("./partials/footer.ejs")%>