<%-include("./partials/header.ejs")%>


<book-reviews class="page">
    <!-- TODO: Create table for reviews already logged 
        and a form to post to add to table and post them here :D -->
<div class="review">
    <%=locals.reviews%>
</div>

</book-reviews>


<%-include("./partials/footer.ejs")%>