.title
{
    display: flex; 
    position: relative;
    font-size: 1.5em;
    color: #1A120B;
    text-shadow: 1px 1px .3em #3C2A21;
    text-align: center;
}

.home-imgs
{
    display: flex; 
    position: relative;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    width: 100%;
    gap: 1.3rem;
    z-index: 0;
    bottom: .3em;
}

.img
{
    max-width: 20em; 
    max-height: 20em; 
}